1) Convert an integer to a floating point number

In [28]:
a=5
type(a)

int

In [4]:
b =float(a)
type(b)

float

2) Convert a float to an integer.

In [5]:
b=5.0
type(b)

float

In [6]:
a=int(b)
type(a)

int

3) Convert an integer to a string.

In [7]:
a=5
type(a)

int

In [9]:
b=str(a)
type(b)

str

4) Convert a list to a tuple.

In [13]:
lis= ['Pwskiils','Data Science',20000]
type(lis)

list

In [17]:
tup=tuple(lis)
type(tup)

tuple

5) convert a tuple to list

In [21]:
tup2=(1,2,3,4,5)
print(tup2)
type(tup2)

(1, 2, 3, 4, 5)

tuple

In [19]:
lis2=list(tup2)
print(lis2)
type(lis2)

[1, 2, 3, 4, 5]

list

6) Convert a decimal number to binary

In [26]:
deci=8
binar= bin(deci)
binar

'0b1000'

7) Convert a non zero number to boolean

In [27]:
number=5
boolean=bool(number)
boolean

True